@font-face {
  font-family: 'Satoshi Variable';
  src: url('/src/assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply bg-background text-neutral_1;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
